<partial src="_header.html" title="Royal Stone" body-class="home"></partial>

<main class="main">
	<partial src="/main_page/_top_slider.html"></partial>

	<partial src="/main_page/_text_right.html"></partial>

	<partial src="/main_page/_cta.html"></partial>

	<partial src="/main_page/_text_left.html"></partial>

	<partial src="/main_page/_main_materials.html"></partial>

	<partial src="/main_page/_partners.html"></partial>

	<partial src="/main_page/_main_video.html"></partial>

	<partial src="/main_page/_main_contacts.html"></partial>

	<partial src="/main_page/_seo_text.html"></partial>
</main>
<!-- /.main -->

<partial src="_footer.html"></partial>