<partial src="_header.html" title="Royal Stone" body-class="home"></partial>

<main class="main">
	<section class="inspiration_top" style="background-image: url(img/inspiration.jpg);">
		<div class="container">
			<h1 class="title">В поисках решения для
				<br>своего проекта?</h1>
			<p class="subtitle">Вдохноляйтесь подборкой использования камня в
				<br>интерьерах.</p>
		</div>
	</section>

	<section class="inspiration_wrap">
		<div class="inspiration_nav">
			<a href="#" class="inspiration_nav_link">Ванная</a>
			<a href="#" class="inspiration_nav_link"> Кухня</a>
			<a href="#" class="inspiration_nav_link"> Гостинная</a>
			<a href="#" class="inspiration_nav_link"> Спальня</a>
			<a href="#" class="inspiration_nav_link"> Ресторан</a>
			<a href="#" class="inspiration_nav_link"> Офис</a>
		</div>
		<div class="inspiration_content">
			<partial src="_inspiration_case.html"></partial>
			<partial src="_inspiration_case.html"></partial>
			<partial src="_inspiration_case.html"></partial>
			<partial src="_inspiration_case.html"></partial>
			<partial src="_inspiration_case.html"></partial>
			<partial src="_inspiration_case.html"></partial>
			<div class="inspiration_cta">
				<div class="inspiration_cta_left">
					<h2 class="title">Нужна помощь специалиста?</h2>
					<p class="text">Заполните форму справа и мы свяжемся с Вами в ближайшее время.</p>
				</div>
				<div class="inspiration_cta_right">
					<form action="" class="inspiration_form">
						<label class="label">
							<input type="text" required>
							<span class="label_text">Имя*</span>
						</label>
						<label class="label">
							<input type="tel" placeholder="+380" required>
							<span class="label_text">Телефон*</span>
						</label>
						<input type="submit" value="Заказать консультацию">
					</form>
				</div>
			</div>
			<partial src="_inspiration_case.html"></partial>
			<partial src="_inspiration_case.html"></partial>
			<partial src="_inspiration_case.html"></partial>
			<partial src="_inspiration_case.html"></partial>
			<partial src="_inspiration_case.html"></partial>
			<partial src="_inspiration_case.html"></partial>
		</div>
	</section>
</main>
<!-- /.main -->

<partial src="_footer.html"></partial>