<partial src="_header.html" title="Royal Stone" body-class="home"></partial>

<main class="main">
	<div class="project_top" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url(img/project_top.jpg);">
		<h1 class="title">Аэропорт Борисполь</h1>
		<p class="descr">Май - Июль 2016 года </p>
	</div>

	<div class="project_content">
		<h2>Замена мраморной плитки в холле </h2>
		<p>Долгое время являлся основным терминалом аэропорта. В терминале были сосредоточены магазины, кафе и бары, представительства
			авиакомпаний, туристических фирм, банков, доступ к Интернету, бизнес-центр, камеры хранения. Терминал обслуживал большую
			часть пассажиров аэропорта, которые отправляются в дальнее и ближнее зарубежье, в нём были расположены пункты проверки
			авиабезопасности. </p>
		<p>Пункты проверки на авиационную безопасность были расположены в зале вылета непосредственно перед выходами на посадку. После
			окончания процедуры контроля на авиационную безопасность пассажиры размещаются в зонах ожидания посадки в самолёт. Второй
			этаж терминала представляет собой международную зону, в нём размещаются магазины «Duty-free». В июле 2011 года была закончена
			реконструкция галереи. В данный момент терминал обслуживает внутренние рейсы и чартеры. Из терминала B выполняли чартерные
			рейсы Авиалинии Харькова.</p>

		<img src="img/project_content.jpg" alt="image">
	</div>

</main>
<!-- /.main -->

<partial src="_footer.html"></partial>