<section class="contacts_form">
	<div class="container">
		<div class="main_contacts_wrap">
			<div class="main_contacts_map">
				<div id="map"></div>
			</div>
			<div class="main_contacts_form">
				<h2 class="title">Остались вопросы?</h2>
				<p class="contacts_form_descr">Заполните форму ниже и мы перезвоним</p>
				<form class="main_form">
					<label class="label">
						<input type="text" required>
						<span class="label_text">Имя*</span>
					</label>
					<label class="label">
						<input type="tel" placeholder="+380" required>
						<span class="label_text">Телефон*</span>
					</label>
					<label class="label">
						<input type="email">
						<span class="label_text">Email</span>
					</label>
					<label class="label">
						<textarea></textarea>
						<span class="label_text">Сообщение</span>
					</label>
					<input type="submit" value="Отправить">
				</form>
			</div>

		</div>
	</div>
</section>