<section class="slider_contacts">
	<div class="container">
		<div class="top_slider_wrap">
			<div class="swiper-container swiper_parallax">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<img src="img/herobanner-1.jpg" alt="">
					</div>
					<div class="swiper-slide">
						<img src="img/herobanner-2.jpg" alt="">
					</div>
				</div>
				<!-- Add Navigation -->
				<div class="swiper-button-prev swiper-button-white"></div>
				<div class="swiper-button-next swiper-button-white"></div>
			</div>
			<div class="top_slider_descr">
				<h1 class="title">Шоу-рум</h1>
				<p class="text">Киев, ул. Драгоманова 31В, м. Позняки</p>
				<ul class="slider_phones">
					<li>
						<a href="tel:380444952222">+38 (044) 495 22 22</a>
					</li>
					<li>
						<a href="tel:380937077060">+38 (093) 707 70 60</a>
					</li>
					<li>
						<a href="tel:380667077060">+38 (066) 707 70 60</a>
					</li>
					<li>
						<a href="tel:380687077727">+38 (068) 707 77 27</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- /.top_slider_wrap -->
	</div>
	<!-- /.container -->
</section>
<!-- /.top_slider -->