<section class="main_materials">
	<h2 class="title title_large">Материалы</h2>
	<div class="main_materials_wrap">
		<div class='grid'>
			<partial src="/main_page/_material_hex.html"></partial>
			<partial src="/main_page/_material_hex.html"></partial>
			<partial src="/main_page/_material_hex.html"></partial>
			<partial src="/main_page/_material_hex.html"></partial>
			<partial src="/main_page/_material_hex.html"></partial>
			<partial src="/main_page/_material_hex.html"></partial>
			<partial src="/main_page/_material_hex.html"></partial>
			<partial src="/main_page/_material_hex.html"></partial>
			<partial src="/main_page/_material_hex.html"></partial>
			<partial src="/main_page/_material_hex.html"></partial>
			<partial src="/main_page/_material_hex.html"></partial>
			<partial src="/main_page/_material_hex.html"></partial>
			<partial src="/main_page/_material_hex.html"></partial>
		</div>
	</div>
	<a href="/" class="btn btn_red btn_large">Все материалы</a>
</section>