<section class="main_contacts">
	<h2 class="title title_large">Связаться с нами</h2>
	<div class="container">
		<div class="main_contacts_wrap">
			<div class="main_contacts_form">
				<form class="main_form">
					<label class="label">
						<input type="text" required>
						<span class="label_text">Имя*</span>
					</label>
					<label class="label">
						<input type="tel" placeholder="+380" required>
						<span class="label_text">Телефон*</span>
					</label>
					<label class="label">
						<input type="email">
						<span class="label_text">Email</span>
					</label>
					<label class="label">
						<textarea></textarea>
						<span class="label_text">Сообщение</span>
					</label>
					<input type="submit" value="Отправить">
				</form>
			</div>
			<div class="main_contacts_map">
				<h3 class="title">Наш шоу-рум:</h3>
				<div id="map"></div>
				<div class="contacts_info">
					<span class="case addres">
						<i class="material-icons">
							location_on
						</i>
						Киев, ул. Драгоманова 31В
					</span>
					<a href="tel:380444952222" class="case">
						<i class="material-icons">
							phone
						</i>
						044 495 22 22
					</a>
					<a href="tel:380667077060" class="case">
						+38066 707 70 60
					</a>
					<a href="tel:380937077060" class="case">
						+38093 707 70 60
					</a>
					<a href="tel:380687077727" class="case">
						+38068 707 77 27
					</a>
				</div>
			</div>
		</div>
	</div>
</section>