<section class="partners">
	<div class="container">
		<h2 class="title title_large">Нам доверяют</h2>
		<div class="partners_wrap">
			<div class="partners_case">
				<img src="img/partner_1.png" alt="partner">
			</div>
			<div class="partners_case">
				<img src="img/partner_2.png" alt="partner">
			</div>
			<div class="partners_case">
				<img src="img/partner_3.png" alt="partner">
			</div>
			<div class="partners_case">
				<img src="img/partner_4.png" alt="partner">
			</div>
			<div class="partners_case">
				<img src="img/partner_5.png" alt="partner">
			</div>
			<div class="partners_case">
				<img src="img/partner_6.png" alt="partner">
			</div>
			<div class="partners_case">
				<img src="img/partner_7.png" alt="partner">
			</div>
			<div class="partners_case">
				<img src="img/partner_8.png" alt="partner">
			</div>
		</div>
	</div>
</section>