<div class="seo_text_wrap">
	<div class="seo_text">
		<p>Натуральные материалы в обустройстве дома — это не только долговечность и экологичность, это также изысканный интерьер
			и гарантированное ощущение уюта. Изделия из природного камня благотворно влияют на микроклимат помещения, не доставляют
			хлопот с уборкой, а также делают непревзойдённым интерьер вашего дома. А разнообразная цветовая палитра, созданная самой
			природой, обязательно удовлетворит требования людей с разными вкусами и подойдёт практически ко всем стилям интерьера.</p>
		<p>Изделия из природного камня могут быть как декоративными — скульптуры, балясины, фонтаны, мозаики и панно — так и функциональными
			— столешницы, ступени, ванные, раковины, камины и другие элементы интерьера. Чаще всего для изготовления облицовочной
			плитки и других предметов </p>
	</div>
	<button class="seo_text_toggle">
		<i class="material-icons">
			arrow_back_ios
		</i>
	</button>
</div>