<section class="text_right">
	<div class="container">
		<div class="text_wrap">
			<div class="text_img">
				<img src="img/text_right.jpg" alt="img">
			</div>
			<div class="text_wrap_content">
				<h2 class="title">О нас</h2>
				<div class="text">
					<p>Компания ROYAL STONE владеет полным циклом услуг начиная от разработки дизайн проектов , заканчивая готовыми решениями.
						Система контроля качества на всех этапах позволяет нам гаратировать результат. В нашем
						<a href="/">шоу-руме</a> всегда можно оценить изделия вживую и проконсультироваться у спецеалистов.</p>
				</div>
			</div>
		</div>
		<!-- /.text_wrap -->
	</div>
	<!-- /.container -->
</section>
<!-- /.text_right -->