<section class="text_left">
	<div class="container">
		<div class="text_wrap">
			<div class="text_wrap_content">
				<h2 class="title">Все решают детали!</h2>
				<div class="text">
					<p>Не бывает неинтересных дел и неважных мелочей, бывают плохие специалисты. То, что кому-то кажется малозначительным,
						«частью текучки», мы умеем превращать в наши сильные стороны. Результаты проделанной работы, позволяют нам добиваться
						успеха и занимать лидирующие позиции на рынке.</p>
				</div>
			</div>
			<div class="text_img">
				<img src="img/text_left.jpg" alt="img">
			</div>
		</div>
		<!-- /.text_wrap -->
	</div>
	<!-- /.container -->
</section>
<!-- /.text_left -->