<section class="top_slider">
	<div class="container">
		<div class="top_slider_wrap">
			<div class="swiper-container swiper_parallax">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<img src="img/herobanner-1.jpg" alt="">
					</div>
					<div class="swiper-slide">
						<img src="img/herobanner-2.jpg" alt="">
					</div>
				</div>
				<!-- Add Navigation -->
				<div class="swiper-button-prev swiper-button-white"></div>
				<div class="swiper-button-next swiper-button-white"></div>
			</div>
			<div class="top_slider_descr">
				<h1 class="title">Производитель эксклюзивных изделий из камня</h1>
				<p class="text">Мрамор, гранит, кварцит, оникс, травертин, лаймстоун, сланец, доломит и другие</p>
				<a href="javascript:;" class="btn btn_red" rel="nofollow" data-fancybox data-src="#modal_1">Заказать расчет</a>
				<a href="/catalog" class="btn">Каталог</a>

				<div id="modal_1" class="modal" style="display: none;">
					<h3 class="modal_title">Быстрый заказ</h3>
					<p class="modal_descr">Менеджер с Вами свяжется для уточнения деталей заказа:</p>
					<form action="" class="modal_form">
						<label class="label">
							<input type="text" required>
							<span class="label_text">Имя*</span>
						</label>
						<label class="label">
							<input type="tel" placeholder="+380" required>
							<span class="label_text">Телефон*</span>
						</label>
						<input type="submit" value="Отправить">
					</form>
				</div>
			</div>
		</div>
		<!-- /.top_slider_wrap -->
	</div>
	<!-- /.container -->
</section>
<!-- /.top_slider -->