<footer class="footer">
	<div class="container">
		<div class="footer_wrap">
			<div class="footer_col">
				<h3 class="title">Каталог</h3>
				<ul class="footer_menu">
					<li>
						<a href="/">Украинский камень</a>
					</li>
					<li>
						<a href="/">Импортный камень</a>
					</li>
					<li>
						<a href="/">Полудрагоценный камень</a>
					</li>
				</ul>
			</div>

			<div class="footer_col">
				<h3 class="title">Изделия</h3>
				<ul class="footer_menu">
					<li>
						<a href="/">Камины </a>
					</li>
					<li>
						<a href="/">Столешницы</a>
					</li>
					<li>
						<a href="/">Подоконники</a>
					</li>
					<li>
						<a href="/">Ступени</a>
					</li>
					<li>
						<a href="/">Пол</a>
					</li>
					<li>
						<a href="/">Стены</a>
					</li>
					<li>
						<a href="/">Плитка</a>
					</li>
					<li>
						<a href="/">Столы</a>
					</li>
				</ul>
			</div>

			<div class="footer_col">
				<h3 class="title">Услуги</h3>
				<ul class="footer_menu">
					<li>
						<a href="/">Выезд на замер</a>
					</li>
					<li>
						<a href="/">Проектирование</a>
					</li>
					<li>
						<a href="/">Изготовление</a>
					</li>
					<li>
						<a href="/">Доставка</a>
					</li>
					<li>
						<a href="/">Полировка мрамора</a>
					</li>
					<li>
						<a href="/">Реставрация мрамора</a>
					</li>
					<li>
						<a href="/">Монтаж изделий</a>
					</li>
					<li>
						<a href="/">Клининг</a>
					</li>
				</ul>
			</div>

			<div class="footer_col">
				<a href="/" class="footer_logo">
					<img src="img/logo.png" alt="logo">
				</a>
				<ul class="footer_phones">
					<li>
						<a href="tel:380444952222">044 495 22 22</a>
					</li>
					<li>
						<a href="tel:380937077060">093 707 70 60</a>
					</li>
					<li>
						<a href="tel:380667077060">066 707 70 60</a>
					</li>
					<li>
						<a href="tel:380687077727">068 707 77 27</a>
					</li>
				</ul>
				<a href="mailto:zakaz@royalstone.com.ua" class="footer_email">
					<i class="material-icons">
						mail
					</i>zakaz@royalstone.com.ua</a>
				<ul class="footer_social">
					<li>
						<a href="https://www.instagram.com/"></a>
					</li>
					<li>
						<a href="https://www.facebook.com/"></a>
					</li>
					<li>
						<a href="https://plus.google.com/"></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer_bottom">
		<p>Все права защищены 2018 ©
			<a href="/">royalstone.com.ua</a>
		</p>
	</div>

	<div class="to_top">
		<i class="material-icons">
			keyboard_arrow_up
		</i>
		<span>Вверх</span>
	</div>
</footer>

<!-- /.footer -->
<script src="https://www.youtube.com/iframe_api"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWZUSYfYgfImoJowBU6GitBix8N6KrFj8"></script>
<script src="js/scripts.min.js"></script>
</body>

</html>