<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone=no">

	<title>@@title</title>

	<link rel="stylesheet" href="css/libs.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">

</head>

<body class="@@body-class">

	<header class="header">
		<div class="container">
			<div class="header_top">
				<a href="/" class="logo">
					<img src="img/logo.png" srcset="img/logo@2x.png 2x, img/logo@3x.png 3x" alt="ROYAL STONE">
				</a>
				<div class="header_menu">

					<ul class="menu">
						<li class="menu-item current-menu-item">
							<a href="index.html">Главная</a>
						</li>
						<li class="menu-item">
							<a href="materials.html">Продукция</a>
						</li>
						<li class="menu-item">
							<a href="portfolio.html">Портфолио</a>
						</li>
						<li class="menu-item">
							<a href="inspiration.html">Вдохновение</a>
						</li>
						<li class="menu-item">
							<a href="about_us.html">О нас</a>
						</li>
						<li class="menu-item">
							<a href="contacts.html">Контакты</a>
						</li>
					</ul>
				</div>
				<div class="header_phone">
					<i class="material-icons">phone</i>
					<a href="tel:380444952222">044 495 22 22</a>
				</div>
			</div>
			<!-- /.header_top -->
		</div>
		<!-- /.container -->
	</header>
	<!-- /.header -->